@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p>
    </p>
    <h1>
        Contoso University
    </h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hey There,</h2>
        <p>
            This Contoso App is a Midterm exam which is testing
            whether we actually did our own projects this quarter :)
        </p>
    </div>
    <div class="col-md-4">
        <h2>SignalR Chat Client</h2>
        <h2>LOOK HERE -------></h2>
    </div>
    <div class="col-md-4">
        <h2>Live Help</h2>
        <p>You can pretend that we have customer support here!</p>
        <p><a class="btn btn-default" href="~/Home/Chat">Chat &raquo;</a></p>
    </div>
</div>